# Dependencies
/node_modules

# Next.js build output
/.next
/out

# Generated
next-env.d.ts
/prisma/generated
/generated

# Env files
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store

# Editor
.vscode/
.idea/
*.swp

# Vercel
.vercel

# Misc
*.pem
